* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  min-height: 100vh;
}

/** In react all the application is renderd through one div with Id of #root */
#root {
  background-color: rgb(26, 26, 54);
  min-height: 100vh;
  color: whitesmoke;
  position: relative;

  background-image: radial-gradient(
    ellipse at top right,
    rgba(49, 86, 165, 0.719) 15%,
    rgba(26, 26, 54, 0) 40%
  );

  background-size: 100% 30%;
  background-repeat: no-repeat;
  /* overflow-x: hidden; */
}

#root::before {
  content: "";
  position: fixed;
  top: -5%;
  right: 8%;
  background-image: radial-gradient(
    circle,
    rgba(124, 208, 195, 0.908) -90%,
    rgba(49, 86, 165, 0) 100%
  );
  background-repeat: no-repeat;
  height: 10rem;
  width: 10rem;
  filter: blur(10px);
  border-bottom-right-radius: 100px;
}

/* * --------------------------------------------------------Layouts---------------------------------------------------------------------*/
.layout-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  gap: 1.2rem;
}

.layout-fullReportPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/************************************************************************************************************************
/************************************************************************************************************************
/************************************************************************************************************************/

/* *                                       ------------------Loader------------------                                                   */

.loader-container {
  position: absolute;
  top: 30rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
/* * --------------------------------------------------------HOMEPAGE---------------------------------------------------------------------*/

/* *                                       ------------------Forecast UI------------------                                                   */

.error {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: medium;
  top: 0;
  left: 6.5rem;
  width: 80%;
  height: 6rem;
  background-color: rgb(56, 56, 113);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 999;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

.error.show {
  display: flex;
  animation: slideDown 0.5s forwards;
}

.search {
  position: absolute;
  top: 0px;
  left: 0px;
  border-style: none;
  background-color: rgba(56, 56, 113, 0.347);
  border-bottom-right-radius: 10px;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;
}

.search:active {
  transform: scale(0.95);
  background-color: rgba(92, 92, 131, 0.347);
}

.search-input {
  /* the display is set inline in the code*/
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 6.5rem;
  width: 80%;
  height: 6rem;
  background-color: rgba(92, 92, 131, 0.347);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-input input {
  border-style: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  padding-left: 2.4rem;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-style: none;
  background: transparent;
  width: 5rem;
  height: 6rem;
  border-bottom-right-radius: 10px;
  background-color: rgba(56, 56, 113, 0.833);
  z-index: 100;
  transition: transform 0.1s ease;
}

.submit-btn:active {
  transform: scale(0.95);
}

.search-options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 6.1rem;
  left: 6.5rem;
  height: 18rem;
  width: 80%;
  border-radius: 10px;
  color: #000000;
  background-color: lavender;
  overflow-y: scroll;
}

.homepage-title-container {
  margin: 0 auto;
  /* background-color: rgb(129, 34, 34); */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.8rem 0 0 0;
  font-size: small;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.homepage-top-btn-container {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-bottom: 2.4rem;
  margin: 0 auto;
}

.homepage-top-btn-container button:nth-child(1) {
  color: whitesmoke;
  /* background: linear-gradient(
    90deg,
    rgb(0, 150, 225) 100%,
    #3d4a9d 30%,
    #3d4a9d 100%
  ); */
  background-color: rgba(56, 56, 113, 0.347);
  padding: 1.2rem 2.8rem;
  border-radius: 12px;
  border-style: none;
}

.homepage-top-btn-container button:nth-child(2) {
  min-width: 10.786rem;
  color: whitesmoke;
  background-color: rgba(56, 56, 113, 0.347);
  padding: 1.2rem 2.8rem;
  border-radius: 12px;
  border-style: none;
}

.homepage-top-btn-container .clicked {
  background: linear-gradient(
    90deg,
    rgb(0, 150, 225) 100%,
    #3d4a9d 30%,
    #3d4a9d 100%
  );
}

.homepage-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
  align-items: center;
}

.homepage-info svg {
  height: 1%;
  width: 80%;
}

.homepage-info-trio {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.homepage-info-trio div {
  font-size: small;
  /* background-color: red; */
  /* padding: 1rem; */
  border-radius: 15px;
  /* width: 100%; */
}

.homepage-info-trio .title-with-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-with-svg:nth-child(1) svg {
  width: 40px;
  height: 40px;
}

.title-with-svg:nth-child(2) {
  gap: 0.4rem;
}

.title-with-svg:nth-child(2) svg {
  width: 25px;
  height: 25px;
}

.homepage-hourly-container {
  justify-self: self-start;
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  /* margin-top: auto; */
}

.homepage-full-report {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-full-report a {
  color: rgb(0, 150, 225);
  font-size: small;
  text-decoration: underline;
}

.homepage-full-report h1 {
  margin-right: auto;
}

.homepage-hourly-info {
  display: flex;
  background-color: rgba(56, 56, 113, 0.347);
  gap: 1.2rem;
  /* white-space: nowrap; Prevents content from wrapping */
  overflow-x: auto; /* Enables horizontal scrolling */
  scrollbar-width: none; /* Firefox: Makes scrollbar thinner */
  padding: 0.6rem;
  border-radius: 15px;
}

.homepage-hourly-info::-webkit-scrollbar {
  height: 8px; /* Adjusts scrollbar height */
}

.homepage-info-card {
  background-color: rgba(0, 150, 225, 0.463);
  border-radius: 15px;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: repeat(2, auto); /* Two rows */
  justify-content: center;
  align-items: center;
  /* gap: 1.2rem; */
}

.homepage-hourly-info svg {
  grid-row: span 2;
}

.homepage-info-card small {
  font-weight: 600;
  font-size: medium;
}

.homepage-info-card p {
  align-self: flex-start;
  font-weight: 600;
  font-size: medium;
}

.celsius {
  font-size: 0.6em;
  vertical-align: super;
}

/* *                                       ------------------Weekly UI------------------                                                   */
.homepage-weekly-top-btn-container {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-bottom: 2.4rem;
  margin: 0 auto;
}

.homepage-weekly-top-btn-container button {
  color: whitesmoke;
  padding: 1.2rem 2.8rem;
  border-radius: 12px;
  border-style: none;
}

.homepage-weekly-top-btn-container button:nth-child(1) {
  background-color: rgba(56, 56, 113, 0.347);
}

.homepage-weekly-top-btn-container button:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgb(0, 150, 225) 100%,
    #3d4a9d 30%,
    #3d4a9d 100%
  );
}

.homepage-full-report p {
  color: rgb(128, 128, 157);
  font-size: medium;
}

.weekly-sub-title-container {
  display: flex;
  width: 90%;
}
.weekly-sub-title-container h2 {
  margin-right: auto;
}

.weekly-forecast-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 30rem;
  /* background-color: red; */
  gap: 1.2rem;
  overflow-y: scroll;
  box-shadow: inset 0 10px 10px -10px #000000, inset 0 -10px 10px -10px #000000;
}

.weekly-card {
  width: 100%;
  border-radius: 15px;
  display: grid;
  background-color: rgba(56, 56, 113, 0.347);
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-template-rows: repeat(2, 1fr); /* 2 rows of 100px each */
  /* grid-gap: 1rem; */
  grid-template-areas:
    "a c e"
    "b d e";
  /* background-color: green; */
  align-items: center;
  justify-content: center;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.weekly-card .day {
  font-size: large;
  text-align: center;
}

.weekly-card .date {
  font-size: small;
  text-align: center;
}

.weekly-card .temp-min,
.weekly-card .temp-max {
  font-size: large;
  text-align: center;
}
.weekly-card svg {
  margin: 0 auto;
}

/* * --------------------------------------------------------FULL REPORT PAGE-----------------------------------------------------------*/
.report-container {
}

.report-properties-container {
}

.report-properties-container h2 span {
  font-size: x-small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/************************************************************************************************************************
/************************************************************************************************************************
/************************************************************************************************************************/
@media (max-height: 700px) {
  #root {
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    align-items: center;
    background-color: rgb(26, 26, 54);
    min-height: 100vh;
    color: whitesmoke;
    position: relative;

    background-image: radial-gradient(
      ellipse at top right,
      rgba(49, 86, 165, 0.719) 15%,
      rgba(26, 26, 54, 0) 40%
    );

    background-size: 100% 30%;
    background-repeat: no-repeat;
    gap: 1.2rem;
  }
}

@media (min-height: 701px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 26, 54);
    min-height: 100vh;
    color: whitesmoke;
    position: relative;

    background-image: radial-gradient(
      ellipse at top right,
      rgba(49, 86, 165, 0.719) 15%,
      rgba(26, 26, 54, 0) 40%
    );

    background-size: 100% 30%;
    background-repeat: no-repeat;
    /* gap: 1.2rem; */
  }
}

/************************************************************************************************************************
/************************************************************************************************************************
/************************************************************************************************************************
/*
** CLOUDS
*/
@keyframes am-weather-cloud-1 {
  0% {
    -webkit-transform: translate(-5px, 0px);
    -moz-transform: translate(-5px, 0px);
    -ms-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px);
  }

  50% {
    -webkit-transform: translate(10px, 0px);
    -moz-transform: translate(10px, 0px);
    -ms-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }

  100% {
    -webkit-transform: translate(-5px, 0px);
    -moz-transform: translate(-5px, 0px);
    -ms-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px);
  }
}

.am-weather-cloud-1 {
  -webkit-animation-name: am-weather-cloud-1;
  -moz-animation-name: am-weather-cloud-1;
  animation-name: am-weather-cloud-1;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes am-weather-cloud-2 {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  50% {
    -webkit-transform: translate(2px, 0px);
    -moz-transform: translate(2px, 0px);
    -ms-transform: translate(2px, 0px);
    transform: translate(2px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.am-weather-cloud-2 {
  -webkit-animation-name: am-weather-cloud-2;
  -moz-animation-name: am-weather-cloud-2;
  animation-name: am-weather-cloud-2;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
  ** SUN
  */
@keyframes am-weather-sun {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.am-weather-sun {
  -webkit-animation-name: am-weather-sun;
  -moz-animation-name: am-weather-sun;
  -ms-animation-name: am-weather-sun;
  animation-name: am-weather-sun;
  -webkit-animation-duration: 9s;
  -moz-animation-duration: 9s;
  -ms-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes am-weather-sun-shiny {
  0% {
    stroke-dasharray: 3px 10px;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 0.1px 10px;
    stroke-dashoffset: -1px;
  }

  100% {
    stroke-dasharray: 3px 10px;
    stroke-dashoffset: 0px;
  }
}

.am-weather-sun-shiny line {
  -webkit-animation-name: am-weather-sun-shiny;
  -moz-animation-name: am-weather-sun-shiny;
  -ms-animation-name: am-weather-sun-shiny;
  animation-name: am-weather-sun-shiny;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
  ** MOON
  */
@keyframes am-weather-moon {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.am-weather-moon {
  -webkit-animation-name: am-weather-moon;
  -moz-animation-name: am-weather-moon;
  -ms-animation-name: am-weather-moon;
  animation-name: am-weather-moon;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -ms-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 12.5px 15.15px 0; /* TODO FF CENTER ISSUE */
  -moz-transform-origin: 12.5px 15.15px 0; /* TODO FF CENTER ISSUE */
  -ms-transform-origin: 12.5px 15.15px 0; /* TODO FF CENTER ISSUE */
  transform-origin: 12.5px 15.15px 0; /* TODO FF CENTER ISSUE */
}

@keyframes am-weather-moon-star-1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.am-weather-moon-star-1 {
  -webkit-animation-name: am-weather-moon-star-1;
  -moz-animation-name: am-weather-moon-star-1;
  -ms-animation-name: am-weather-moon-star-1;
  animation-name: am-weather-moon-star-1;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes am-weather-moon-star-2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.am-weather-moon-star-2 {
  -webkit-animation-name: am-weather-moon-star-2;
  -moz-animation-name: am-weather-moon-star-2;
  -ms-animation-name: am-weather-moon-star-2;
  animation-name: am-weather-moon-star-2;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*
  ** RAIN
  */
@keyframes am-weather-rain {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -100;
  }
}

.am-weather-rain-1 {
  -webkit-animation-name: am-weather-rain;
  -moz-animation-name: am-weather-rain;
  -ms-animation-name: am-weather-rain;
  animation-name: am-weather-rain;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.am-weather-rain-2 {
  -webkit-animation-name: am-weather-rain;
  -moz-animation-name: am-weather-rain;
  -ms-animation-name: am-weather-rain;
  animation-name: am-weather-rain;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
  ** SNOW
  */
@keyframes am-weather-snow {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  33.33% {
    -webkit-transform: translateX(-1.2px) translateY(2px);
    -moz-transform: translateX(-1.2px) translateY(2px);
    -ms-transform: translateX(-1.2px) translateY(2px);
    transform: translateX(-1.2px) translateY(2px);
  }

  66.66% {
    -webkit-transform: translateX(1.4px) translateY(4px);
    -moz-transform: translateX(1.4px) translateY(4px);
    -ms-transform: translateX(1.4px) translateY(4px);
    transform: translateX(1.4px) translateY(4px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1.6px) translateY(6px);
    -moz-transform: translateX(-1.6px) translateY(6px);
    -ms-transform: translateX(-1.6px) translateY(6px);
    transform: translateX(-1.6px) translateY(6px);
    opacity: 0;
  }
}

@keyframes am-weather-snow-reverse {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  33.33% {
    -webkit-transform: translateX(1.2px) translateY(2px);
    -moz-transform: translateX(1.2px) translateY(2px);
    -ms-transform: translateX(1.2px) translateY(2px);
    transform: translateX(1.2px) translateY(2px);
  }

  66.66% {
    -webkit-transform: translateX(-1.4px) translateY(4px);
    -moz-transform: translateX(-1.4px) translateY(4px);
    -ms-transform: translateX(-1.4px) translateY(4px);
    transform: translateX(-1.4px) translateY(4px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1.6px) translateY(6px);
    -moz-transform: translateX(1.6px) translateY(6px);
    -ms-transform: translateX(1.6px) translateY(6px);
    transform: translateX(1.6px) translateY(6px);
    opacity: 0;
  }
}

.am-weather-snow-1 {
  -webkit-animation-name: am-weather-snow;
  -moz-animation-name: am-weather-snow;
  -ms-animation-name: am-weather-snow;
  animation-name: am-weather-snow;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.am-weather-snow-2 {
  -webkit-animation-name: am-weather-snow;
  -moz-animation-name: am-weather-snow;
  -ms-animation-name: am-weather-snow;
  animation-name: am-weather-snow;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.am-weather-snow-3 {
  -webkit-animation-name: am-weather-snow-reverse;
  -moz-animation-name: am-weather-snow-reverse;
  -ms-animation-name: am-weather-snow-reverse;
  animation-name: am-weather-snow-reverse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
  ** EASING
  */
.am-weather-easing-ease-in-out {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
